@model PelimaailmaAdmin.Models.Tyontekija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tyontekija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tehtava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tehtava)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
